@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
